@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
    background-color: lightgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0px;
    line-height: 2em;
    padding-left: 30px;
}



.normal{
    background-color: #fff;
    color: black;
}

.imagem{
    background-color: rgb(58, 58, 58);
    color: white;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.397);
    width: 400px;
}

footer{
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px;
}