@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

:root{
    --cor0:#3AC200;
    --cor1:#237500;
    --cor2:#103600;

}
*{
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    background:black url(img/wallpaper-gramado.png) top center no-repeat fixed;
    background-size: cover;
    font: normal 20px arial, sans-serif;
    overflow-x: hidden;
}

header{
    background-image: linear-gradient(180deg, var(--cor1), var(--cor2), var(--cor2));
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.61);
}

header picture img{
    display: block;
    margin: auto;
    padding: 15px;
}

#menu_padrao ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.links_menu a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.links_menu a:hover{
    color: rgb(102, 255, 140);
    text-shadow: -1px -1px 5px rgba(66, 255, 113, 0.329);
    transition: 1s;
}

#icon_menu_mobile div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px auto;
    align-items: center;
}

#icon_menu_mobile{
    display: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    left: 46vw;
    padding-bottom: 50px;
    background-color: transparent;
    border: none;
}

.menu_mobile{
    display: none;
}

.menu_mobile ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu_mobile ul li{
    display: block;
    padding: 1.2rem 0;
}

@media screen and (max-width: 800px){
    #menu_padrao{
        display: none;
    }

    #icon_menu_mobile{
        display: block;
    }

    .open{
        display: block;
    }   
}

article{
    min-width: 320px;
    max-width: 750px;
    background-color: #fff;
    margin: 0px auto 30px auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    padding: 30px;
}

abbr{
    text-decoration: none;
}

p{
    text-indent: 30px;
    text-align: justify;
    line-height: 2em;
    font-size: 1.1em;
}

h2{
    text-align: center;
    font: normal 900 2.5em Diphylleia, cursive;
    margin-bottom: 30px;
    color: var(--cor2);
}

#trofeus img{
    width: 100%;
}

#campeao{
    min-width: 320px;
    max-width: 200px;
    margin: 30px auto;
}

#campeao img{
    width: 100%;
}

#video{
    margin: 0px -30px;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

#video iframe{
    position: absolute;
    top: 0%;
    left: 2.5%;
    width: 95%;
    height: 100%;
}

aside{
    margin: 100px 15px 15px 15px;
    border-radius: 15px;
    padding: 15px;
    background-color: lightgreen;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    border: solid 3px var(--cor2);
}

aside h3{
    background-color: var(--cor2);
    color: #fff;
    text-indent: 10px;
    text-align: left;
    margin: -15px -15px 0px -15px;
    border-radius: 10px 10px 0px 0px;
    font: normal 1.2em 'Times New Roman', Times, serif;
    padding: 5px;
}

aside ul{
    padding-left: 30px;
    list-style-type: '\2714\00A0\00A0';
}

aside a{
    text-decoration: none;
    color: black;
}

aside a:hover{
    text-decoration: underline;
}

footer p{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
    font-size: 0.8em;
    line-height: 1em;
}