@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: gray;
}

header h1{
    text-align: center;
    padding: 20px 0px;
}

header ul{
    list-style: none;
    background-color: rgb(109, 109, 109);
    text-align: center;
}

header ul li{
    display: inline-block;
    padding: 10px;  
}

header ul li:hover{
    color: white;
    cursor: pointer;
    transition: .5s;
}

article{
    max-width: 700px;
    background-color: lightgray;
    text-indent: 15px;
    padding: 20px;
    margin: auto;
}

article h2{
    padding: 10px;
}

article p{
    line-height: 1.5em;
}